# Neon pooled connection string for the running app / Vercel
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"

# Neon direct connection string for Prisma migrations
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
